.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.input-group .form-control{
    position: absolute !important;
    z-index: 2  !important;
    float: left  !important;
    width: 50% !important;
    margin-bottom: 0 !important;
}



